.services .service-list .service-item {
  background-color: white;
  border: 1px solid rgb(184, 184, 184);
  height: 20vw;
  width: 20vw;
  margin: 15px auto;
  border-radius: 50%;
  padding: 25px 0;
  cursor: pointer;
  transition: all 0.4s linear;
}

.services .service-list .service-item:hover,
.services .service-list .service-item:focus,
.services .service-list .service-item:active {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transform: scale(1.1);
}

.services .service-list .service-item img {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}

.services .service-list .service-item h4 {
  font-weight: 700;
  margin: 10px 0 auto;
  font-size: 1.4rem;
  color: #535353;
}

.services .service-list .service-item p {
  line-height: 24px;
  font-size: 0.9rem;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .services .service-list .service-item {
    height: 22vw;
    width: 22vw;
  }
}

@media (max-width: 1140px) {
  .services .service-list .service-item {
    height: 23vw;
    width: 23vw;
  }
}

@media (max-width: 1040px) {
  .services .service-list .service-item {
    height: 24vw;
    width: 24vw;
  }
}

@media (max-width: 941px) {
  .services .service-list .service-item {
    height: 25vw;
    width: 25vw;
    padding: 5px;
  }
}

@media (max-width: 855px) {
  .services .service-list .service-item {
    height: 28vw;
    width: 28vw;
    padding: 10px;
  }
  .services .service-list .service-item img {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 767px) {
  .services .service-list .service-item {
    height: 40vw;
    width: 40vw;
    padding: 50px 10px;
  }
  .services .service-list .service-item img {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 627px) {
  .services .service-list .service-item {
    height: 42vw;
    width: 42vw;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .services .service-list .service-item img {
    width: 14vw;
    height: 14vw;
  }
}

@media (max-width: 532px) {
  .services .service-list .service-item {
    width: 50vw;
    height: 50vw;
    padding: 15px;
  }
}

@media (max-width: 455px) {
  .services .service-list .service-item {
    width: 60vw;
    height: 60vw;
    padding: 10px;
  }
  .services .service-list .service-item img {
    width: 16vw;
    height: 16vw;
  }
}

@media (max-width: 400px) {
    .services .service-list .service-item {
      width: 70vw;
      height: 70vw;
      padding: 10px;
    }
    .services .service-list .service-item img {
      width: 20vw;
      height: 20vw;
    }
  }